<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: rgb(97, 42, 42);
        text-align: center;
        margin-top: 10%;
        color: white;

    }

    h1{
        color: white;
    }
</style>
<body>
    <h1>Add Employees Information</h1>
    <div>
        <form method="POST">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>